.heading

{
  padding: 2rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: floralwhite;
}

.row
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: fit-content;
}

.row > div
{
  padding: 2rem;
  height: 15rem;
  width: 33%;
  border: 1px solid #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  font-size: 6rem;
  border-radius: 1rem;
  margin: 0.5rem;
  transition: all 0.7s;
  background-color: #3a5199;
  
}

.buttonholder
{
  height: 8rem;
}
.resetbtn
{
  width: 40%;
  margin: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  color: floralwhite;
  background-color: rgb(253, 58, 105); ;
  cursor: pointer;
  font-size: 1.6rem;
}

@media only screen and (max-width:550px)
{
  .row
  {
    width: 95vw;
  }
  .row>div
  {
    width: 80%;
    height: auto;
    min-height: 10rem;
    font-size: 4rem;

  }
}